<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Pivny Stvrtok - hlasovanie</title>
    </head>
    <body>
        <h1>Pivny Stvrtok - hlasovanie</h1>
        <h1 th:inline="text">Vitaj [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Odhlasit sa"/>
        </form>
    </body>
</html>